/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap');

/* Small screens, phones and tablets */
/* General rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #393E40;
}

h1  {
    margin-top: 5px;
    margin-bottom: 10px;
}

i {
    color: #f1f2f2;
}

/* Buttons */
.button {
    padding: 10px;
    width: 250px;
    height: 40px;
    margin-bottom: 10px;
    background-color: #03494e;
    color: #f1f2f2;
    border-radius: 5px;
    border: 1px solid #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 105%;
}

.button:hover {
    background-color: #0b3d40;
    color: #f1f2f2;
    border: 1px solid #E7EDEB;
}

/* Main page */
body {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url('../images/french-background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Section: intro, game area and personal scoreboard */
section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    width: 360px;
    height: 650px;
    text-align: center;
    padding: 20px 60px;
    border: 1px solid #000000;
    box-shadow: 0 0 3px grey;
    background-image: url('../images/sectionback-ground.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

/* Inputfields */
.user-input {
    width: 250px;
    height: 40px;
    padding: 5px;
    font-size: large;
    font-weight: bold;  
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Flashcard in the game section */
.flashcard {
    width: 250px;
    height: 150px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    box-shadow: 0 0 3px grey;
    background-color: rgb(241, 236, 230);
    border-radius: 10px;
}

.hide {
    display: none;
}

/* Intro section */
#intro-heading {
    padding: 10px 0;
}

#hero-text {
    width: 250px;
}

#hero-image {
    width: 200px;
}

#rules {
    text-align: left;
}

#rules-text {
    font-size: 80%;
}

/* Game section */
#correct-answer-count {
    font-weight: bold;
}

#wrong-answer {
    display: none;
}

#play-again {
    display: none;
    margin-top: 10px;
}
#speak-button {
    display: none;
}

#motivation-image {
    width: 250px;
}

/* Score section */
#results-placeholder {
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: left;
    font-size: 180%;
}

#high-scores-list {
  font-weight: bold;
}

#back-to-game {
   margin-bottom: 30px;
}

#triumph-image {
    width: 100px;
    margin-bottom: 30px;
}

/*Media quary: laptop */
@media screen and (min-width: 1180px) {
     
    /* Section: intro, game area and personal scoreboard */
    section {
        width: 450px;
        height: 670px;
        padding: 20px 100px;
    }

    /* Buttons */
    .button {
        width: 300px;
    }

    /* Inputfields */
    .user-input {
        margin-top: 20px;
        width:300px;
    }
        
    /* Flashcard in the game section */
    .flashcard {
        width: 300px;
        height: 230px;
        margin-bottom: 20px;
    }
        
    /* Intro section */       
    #hero-text {
        width: 300px;
    }
        
    #hero-image {
        width: 250px;
    }

    /* Game section */
    #motivation-image {
        margin-top: 10px;
        width: 300px;
    }
        
    /* Score section */
    #triumph-image {
        width: 150px;
    }
}

/* Media queries for larger screens */
@media screen and (min-width: 1580px) {

    /* Section: intro, game area and personal scoreboard */
    section {
        margin-top: 150px;
        width: 700px;
        height: 900px;
        padding: 20px 150px;
    }

    h5 {
        font-size: 110%;
        margin-top: 30px;
    }

    /* Buttons */
    .button {
        width: 400px;
    }

    /* Inputfields */
    .user-input {
        width:400px;
    }

    /* Flashcard in the game section */
    .flashcard {
        width: 400px;
        height: 350px;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    /* Intro section */
    #hero-text {
        width: 400px;
    }

    #hero-image {
        width: 400px;
    }

    #rules-text {
        font-size: 100%;
    }

    /* Game section */
    #motivation-image {
        margin-top: 10px;
        width: 400px;
    }

    /* Score section */

    #results {
        margin-top: 50px;
    }      
}
  